/* Import lại CSS của Webkul Admin */
@import "../../packages/Webkul/Admin/src/Resources/assets/css/app.css";

/* Import font mới */
@import "@/fonts/icomoon-new/style.css";

/* Tailwind (nếu bạn dùng) */
@tailwind base;
@tailwind components;
@tailwind utilities;