@font-face {
    font-family: "icomoon-new";
    src: url("./icomoon-new.eot");
    src: url("./icomoon-new.eot?#iefix") format("embedded-opentype"),
        url("./icomoon-new.ttf") format("truetype"),
        url("./icomoon-new.woff") format("woff"),
        url("./icomoon-new.svg#icomoon-new") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: "icomoon-new" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
    content: "\e94e";
}
.icon-sphere:before {
    content: "\e9c9";
}
.icon-file-openoffice:before {
    content: "\eae0";
}
.icon-tasks:before {
  content: "\e926";
}
.icon-quill:before {
    content: "\e907";
  }